@page "/"

<main>
    <div class="intro-text">
        <h1>Lars Rosenkilde Vittrup</h1>
        <h4>Datateniker med speciale i programmering</h4><br />
    </div>
    <div class="personal-info">
        <ul>
            <li><label>Klarupvej 12A, 9270 Klarup</label></li>
            <li><label>+45 60 90 23 61</label></li>
            <li><label>lars.rosenkilde95@gmail.com</label></li>
        </ul>
        
    </div>
    <div class="reference">
        <div class="row"><label>Github Reference: </label><a href="https://github.com/LarsRosenkilde/"><img src="/Images/github.png" alt="github" /></a></div>
        <div class="row"><label>Instagram Reference: </label><a href="https://www.instagram.com/python_genius/"><img src="/Images/instagram.png" alt="instagram" /></a></div>
    </div>

</main>

@code {

}
