@page "/bmi"

<h1>Body Mass Index Calculator</h1>


<p><b>
    Enter height in cm:
    <input @bind="height" @bind:event="oninput" />
</b></p>
<p><b>
    Enter weight in kg: 
    <input @bind="weight" @bind:event="oninput" />
</b></p>
<ul>
    <li>Height: @height</li>
    <li>Weight: @weight</li>
    <li>Result: @bmi</li>
</ul>

<button class="btn btn-primary" @onclick="Calculate">Calculate</button>

@code {
    private int height { get; set; }
    private int weight { get; set; }
    private double bmi;

    private void Calculate()
    {
        bmi = Math.Round((weight / Math.Pow(height, 2)) * 10000, 2);
    }

}