@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <img class="big-circle" src="/Images/big-eclipse.svg" alt="" />
    <img class="medium-circle" src="/Images/mid-eclipse.svg" alt="" />
    <img class="small-circle" src="/Images/small-eclipse.svg" alt="" />
</div>
