@page "/test"
@using PWATraining.Modules
@using DataLibrary
@inject IDataAccess _data

<main>
	<h3>DBtest</h3>

</main>


@code {
	List<UserCreation> user;
	protected override async Task OnInitializedAsync()
	{
		
	}
}
