@using PWATraining.Modules
@page "/login"

<style>
	label 
	{
		text-align: right;
	}
	input 
	{
		display: table-cell;
		height: 50%;
	}
	div.row 
	{
		display: table-row;
	}
	label, input 
	{
		display: table-cell;
		padding: 10px;
	}
</style>

<main>
	<h1>Login Page</h1>

	<div>
		<div class="row"><label>Username:</label><input type="text" @bind="Username" /></div>
		<div class="row"><label>Password:</label><input type="password" @bind="Password" /></div>
	</div>

	<label>Logged in: @loggedIn</label><br />

	<button class="btn btn-primary" @onclick="Login">Login</button>

</main>


@code {
	private static string ?Username { get; set; }
	private static string ?Password { get; set; }
	public string loggedIn = "";

	public void Login() 
	{
		TestClass test = new(Username, Password);
		loggedIn = test.LoggedIn();
	}
}
