@using PWATraining.Modules
@page "/signup"

<style>
	label 
	{
		text-align: right;
	}
	input 
	{
		display: table-cell;
		height: 50%;
	}
	div.row 
	{
		display: table-row;
	}
	label, input 
	{
		display: table-cell;
		padding: 10px;
	}
</style>

<main>
	<h1>Sign Up Page</h1>

	<div>
		<div class="row"><label>Username:</label><input type="text" @bind="Username" /></div>
		<div class="row"><label>Password:</label><input type="password" @bind="Password" /></div>
		<div class="row"><label>Password:</label><input type="password" @bind="PasswordVal" /></div>
	</div>

	<label>@feedback</label>

	<button class="btn btn-primary" @onclick="Signup">Sign Up</button>
</main>


@code {
	private string? Username { get; set; }
	private string? Password { get; set; }
	private string? PasswordVal { get; set; }

	private string feedback = "";

	private void Signup()
	{
		if (Password.Equals(PasswordVal))
		{
			try
			{
				UserCreation addUser = new(Username, Password);
				feedback = addUser.AddUser();	
			}
			catch (UnauthorizedAccessException)
			{
				feedback = "Unauthorized access to Users.txt file, try running with admin rights";
			}
		}
		else
		{
			feedback = $"Passwords don't match!  First: {Password}  Second: {PasswordVal}";	
		}
	}
}
